*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    
}

header h1{
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;
}
nav{
    width: 20rem;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
ul a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

ul a:hover{
    color: orange;
}

.showcaseImage{
    width: 95vw;
    margin: 0.5rem;
}

article{
    display: flex;
    justify-content: space-around;
    margin: 1.5rem;
}
.content{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
}
footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    height: 4rem;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}
